@model IEnumerable<Trela_Amarela.Models.Reservas>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Reservas</h1>

<p>
    <a asp-action="Create">Criar nova reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.D_Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_Saida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nr_animais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nr_registo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Box)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaAnimais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.D_Entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_Saida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nr_animais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nr_registo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Box.Nome)
            </td>
            <td>
                    @foreach (var animal in item.ListaAnimais)
                        {
                            <span>
                                @animal.Nome <br />
                            </span>
                        }
                </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReserva">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdReserva">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReserva">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
