@model IEnumerable<Trela_Amarela.Models.Animais>

@{
    ViewData["Title"] = "Lista";
}

<h1>Animais Registados</h1>

<p>
    <a asp-action="Create">Adicionar </a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacinacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desparasitacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N_Especiais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nr_registo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nr_chip)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
              @*apresenta a imagem do animal, caso exista, com link para os respetivos detalhes*@
                    @if (!string.IsNullOrEmpty(item.Foto))
                    {
                        <a asp-action="Details" asp-route-id="@item.IdAnimal">
                            <img src="~/fotos/@item.Foto"
                                 alt="@Html.DisplayFor(modelItem => item.Nome)"
                                 title="@item.Nome" height="64" />
                        </a>
                    }
                    else
                    {
                        @* se a imagem não existir mostra o nome*@
                        @Html.DisplayFor(modelItem => item.Nome);
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacinacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desparasitacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_Especiais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nr_registo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nr_chip)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAnimal">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAnimal">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnimal">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
